aiohttp==3.7.4
async-timeout==2.0.0
chardet==3.0.4
-e git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py
dj-database-url==0.4.2
Django==1.11.4
gunicorn==19.7.1
multidict==3.3.0
psycopg2==2.7.3.1
pytz==2017.2
websockets==3.4
whitenoise==3.3.0
yarl==0.13.0
